<h1>Top 20 business brands on Facebook</h1>

Is your page missing from the list? Click <%= link_to 'here', new_company_path %> to add it

<table>
  <tr>
    <th>Name</th>
    <th>FB Likes</th>
    <th>Description</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= link_to(company.name, company.url, :rel => 'external') %></td>
    <td><%= company.like.Count %></td>
    <td><%= company.description %></td>
  </tr>
<% end %>
</table>
